*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'poppns', sans-serif ;
}
body{
    background-color: #f4f4f4;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    margin-top: 10px;
    
}
nav a:hover{
    text-decoration: underline;
}
main{
    max-width: 800px;
    margin: auto;
    margin-top:30px ;
}
.blogs-post{
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.blogs-post h2{
    color: #333;
    margin-bottom: 10px ;
}
.blogs-post p{
    color: #555;
}
.read-more{
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;

}
.read-more:hover{
    background-color: #555;
}
footer{
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
    margin-top: 50px;
}
h1{
    color: #370992;
}